.simpleStepsContainer{
    text-align: center;
    padding-top: 50px;
}
.simpleStepsContainer h1{
    color: #3C3C3C;
    font: normal normal normal 38px Open Sans;
   
}
.simpleStepsContent{
    background-color: #F0F1F1;
    display: flex;
    justify-content: space-between;
    padding: 70px 300px;
}
.singleStepsButton{
    padding: 100px;
}
.singleStepsBtn{
    text-decoration: none;
    color: #3C3C3C;
    font: normal normal 300 36px Open Sans;
    padding: 30px;

}